#!/usr/bin/env bash

set -e

export THT="${THT:-/usr/share/openstack-tripleo-heat-templates}"

tmux new-session -d -s standalone -n standalone || true
tmux new-window -n deploy -t 0 || true
tmux new-window -n glances -t 1 || true

# Start Monitoring
tmux select-window -t 1
tmux send-keys "/opt/rdo/bin/glances --disable-autodiscover --diskio-iops --diskio-show-ramfs --enable-irq" C-m

# Start deployment
tmux select-window -t 0
{% set cmd = [] %}
{% if tripleo_undercloud_deploy | default(true) | bool %}
{%   set _ = cmd.append(ansible_env.HOME ~ '/deploy-undercloud-script.sh') %}
{% endif %}
{% if tripleo_overcloud_deploy | default(true) | bool %}
{%   set _ = cmd.append(ansible_env.HOME ~ '/deploy-overcloud-script.sh') %}
{% endif %}
{% if (cmd | length) > 0 %}
tmux send-keys "{{ cmd | join(' && ') }}" C-m

echo -e "Stack creation has been initiated."
{% endif %}
