#!/usr/bin/env bash

set -ev

export THT="${THT:-/usr/share/openstack-tripleo-heat-templates}"

{% if (ansible_distribution | lower) != 'redhat' %}
{%   if False in (developer_patches | map(attribute='install_in_venv') | list) %}
/opt/tripleo/build-packages.sh
{%   endif %}
{%   if True in (developer_patches | map(attribute='install_in_venv') | list) %}
source /opt/tripleo-patches/bin/activate
{%   endif %}
{% endif %}
openstack undercloud install
{% if (groups['minion'] | length) > 0 %}
{%   for item in groups['minion'] %}
rsync -avz \
      --rsh="/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" \
      {{ ansible_env.HOME }}/tripleo-undercloud-outputs.yaml {{ ansible_env.HOME }}/tripleo-undercloud-passwords.yaml \
      {{ ansible_env.USER }}@{{ hostvars[item]['ansible_host'] }}:{{ ansible_env.HOME }}/
ssh -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    {{ ansible_env.USER }}@{{ hostvars[item]['ansible_host'] }} \
    "openstack undercloud minion install --yes"
{%   endfor %}
{% endif %}
