{% set pd = {'parameter_defaults': {}} %}
{% set _ = pd['parameter_defaults'].__setitem__('NeutronMechanismDrivers', 'ovn') %}
{% if (ansible_distribution | lower) == 'redhat' %}
{%   if (redhat_docker_registry is defined) and (redhat_osp_release is defined) %}
{%     set default_details = {
         'container-image-prepare': {
           'prefix': 'openstack-',
           'namespace': (redhat_docker_registry ~ '/' ~ redhat_osp_release),
           'tag': 'latest'
         }
       }
%}
{%     set details = (compose_details is defined) | ternary(compose_details, default_details) %}
{%     set _ = pd['parameter_defaults'].__setitem__(
        'ContainerImagePrepare',
        [
          {
            'set': {
              'name_prefix': details['container-image-prepare']['prefix'],
              'namespace': details['container-image-prepare']['namespace'],
              'tag': details['container-image-prepare']['tag']
            }
          }
        ]
      )
%}
{%   endif %}
{% else %}
{%   set image_item = {
       'name_prefix': 'centos-binary-',
       'namespace': 'docker.io/tripleomaster'
     }
%}
{%   if tripleo_image_tag is defined %}
{%     set _ = image_item.__setitem__('tag', tripleo_image_tag) %}
{%   endif %}
{%   set _ = pd['parameter_defaults'].__setitem__('ContainerImagePrepare', [{'set': image_item}]) %}
{% endif %}
---
{{ pd | to_nice_yaml }}
