---

{% set registries = redhat_docker_registries %}
{% set _ = registries.append('192.168.' + ansible_local.osp.setup.osp_magic_number + '.1:8787') %}

parameter_defaults:
  DockerInsecureRegistryAddress: {{ registries }}

  NovaComputeLibvirtType: qemu

  DnsServers: {{ redhat_dns_servers }}

  ControllerCount: {{ target_nodes | selectattr("capabilities", "match", ".*control.*") | list | length }}

  ComputeCount: {{ target_nodes | selectattr("capabilities", "match", ".*compute.*") | list | length }}

  CephStorageCount: {{ target_nodes | selectattr("capabilities", "match", ".*ceph.*") | list | length }}

  BlockStorageCount: {{ target_nodes | selectattr("capabilities", "match", ".*block.*") | list | length }}

  ObjectStorageCount: {{ target_nodes | selectattr("capabilities", "match", ".*swift.*") | list | length }}

  NtpServer: {{ redhat_ntp_servers }}

  ControllerSchedulerHints:
    'capabilities:node': '%stack%-controller-%index%'
  ComputeSchedulerHints:
    'capabilities:node': '%stack%-compute-%index%'
  CephStorageSchedulerHints:
    'capabilities:node': '%stack%-ceph-%index%'

{% if (redhat_access_username is defined) and (redhat_access_password is defined )%}
  ContainerImageRegistryCredentials:
    registry.redhat.io:
      {{ redhat_access_username }}: '{{ redhat_access_password }}'
{% endif %}

{% if rh_it_ca_fact is defined %}
  SSLRootCertificatePath: /etc/pki/ca-trust/source/anchors/{{ redhat_ca_certs_url | basename }}
  SSLRootCertificate: {{ rh_it_ca_fact | to_json }}
{% endif %}
