{% set pd = {'parameter_defaults': {}} %}
{% if tripleo_deploy | default(true) | bool %}
{# Multi-node parameter options #}
{%   if (preprov_target_nodes is defined) and ((tripleo_deploy_pre_provisioned is defined) and (tripleo_deploy_pre_provisioned | bool)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ControllerCount', (preprov_target_nodes | selectattr("tripleo_deploy_type", "match", ".*control.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ComputeCount', (preprov_target_nodes | selectattr("tripleo_deploy_type", "match", ".*compute.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('CephStorageCount', (preprov_target_nodes | selectattr("tripleo_deploy_type", "match", ".*ceph.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('BlockStorageCount', (preprov_target_nodes | selectattr("tripleo_deploy_type", "match", ".*block.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ObjectStorageCount', (preprov_target_nodes | selectattr("tripleo_deploy_type", "match", ".*swift.*") | list | length)) %}
{%   elif (target_nodes is defined) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ControllerCount', (target_nodes | selectattr("capabilities", "match", ".*profile:control.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ComputeCount', (target_nodes | selectattr("capabilities", "match", ".*profile:compute.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('CephStorageCount', (target_nodes | selectattr("capabilities", "match", ".*profile:ceph.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('BlockStorageCount', (target_nodes | selectattr("capabilities", "match", ".*profile:block.*") | list | length)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('ObjectStorageCount', (target_nodes | selectattr("capabilities", "match", ".*profile:swift.*") | list | length)) %}
{%     set stackname = tripleo_stack_name | default('overcloud') %}
{%     set _ = pd['parameter_defaults'].__setitem__(
     'ControllerSchedulerHints',
     {
       'capabilities:node': stackname ~ '-controller-%index%'
     }
   )
%}
{%     set _ = pd['parameter_defaults'].__setitem__(
     'ComputeSchedulerHints',
     {
       'capabilities:node': stackname ~ '-novacompute-%index%'
     }
   )
%}
{%     set _ = pd['parameter_defaults'].__setitem__(
     'CephStorageSchedulerHints',
     {
       'capabilities:node': stackname ~ '-ceph-%index%'
     }
   )
%}
{%     set _ = pd['parameter_defaults'].__setitem__('OvercloudControlFlavor', 'control') %}
{%     set _ = pd['parameter_defaults'].__setitem__('OvercloudComputeFlavor', 'compute') %}
{%     set _ = pd['parameter_defaults'].__setitem__('OvercloudCephStorageFlavor', 'ceph-storage') %}
{%     set _ = pd['parameter_defaults'].__setitem__('OvercloudBlockStorageFlavor', 'block-storage') %}
{%     set _ = pd['parameter_defaults'].__setitem__('OvercloudSwiftStorageFlavor', 'swift-storage') %}
{%   endif %}
{%   if ca_certificate_fact is defined %}
{%     set _ = pd['parameter_defaults'].__setitem__('SSLRootCertificatePath', '/etc/pki/ca-trust/source/anchors/' ~ (redhat_ca_certs_url | basename)) %}
{%     set _ = pd['parameter_defaults'].__setitem__('SSLRootCertificate', (ca_certificate_fact | to_json)) %}
{%   endif %}
{%   if (ansible_distribution | lower) == 'redhat' %}
{%     set registries = redhat_docker_registries %}
{%     set _ = registries.append((vm_management_net | ipaddr('ip')) ~ ':8787') %}
{%     set _ = pd['parameter_defaults'].__setitem__('DockerInsecureRegistryAddress', registries) %}
{%     set _ = pd['parameter_defaults'].__setitem__('DnsServers', redhat_dns_servers) %}
{%     set _ = pd['parameter_defaults'].__setitem__('NtpServer', redhat_ntp_servers) %}
{%     if (redhat_access_username is defined) and (redhat_access_password is defined )%}
{%       set _ = pd['parameter_defaults'].__setitem__(
         'ContainerImageRegistryCredentials',
         {
           'registry.redhat.io': {
             (redhat_access_username | string): (redhat_access_password | string)
           }
         }
       )
%}
{%     endif %}
{%   else %}
{%   if tripleo_default_route is defined %}
{%     set _ = pd['parameter_defaults'].__setitem__('ControlPlaneDefaultRoute', tripleo_default_route) %}
{%   endif %}
{%   set _ = pd['parameter_defaults'].__setitem__('DockerInsecureRegistryAddress', [(vm_management_net | ipaddr('ip')) ~ ':8787']) %}
{%   endif %}
{% else %}
{# Standalone parameter options #}
{%   set _ = pd['parameter_defaults'].__setitem__('CloudName', tripleo_job_address) %}
{%   set _ = pd['parameter_defaults'].__setitem__('ControlPlaneStaticRoutes', []) %}
{%   set _ = pd['parameter_defaults'].__setitem__('Debug', true) %}
{%   set _ = pd['parameter_defaults'].__setitem__('DeploymentUser', ansible_env.USER) %}
{%   set _ = pd['parameter_defaults'].__setitem__(
     'DockerInsecureRegistryAddress',
     [
       (tripleo_job_address | string) ~ ':8787'
     ]
   )
%}
{%   set _ = pd['parameter_defaults'].__setitem__('NeutronGlobalPhysnetMtu', 1350) %}
{%   set _ = pd['parameter_defaults'].__setitem__('NeutronPublicInterface', 'eth1') %}
{%   set _ = pd['parameter_defaults'].__setitem__('NeutronDnsDomain', 'localdomain') %}
{%   set _ = pd['parameter_defaults'].__setitem__('NeutronBridgeMappings', 'datacentre:br-ctlplane') %}
{%   set _ = pd['parameter_defaults'].__setitem__('NeutronPhysicalBridge', 'br-ctlplane') %}
{%   set _ = pd['parameter_defaults'].__setitem__('StandaloneEnableRoutedNetworks', ansible_env.HOME) %}
{%   set _ = pd['parameter_defaults'].__setitem__('StandaloneLocalMtu', 1500) %}
{%   set _ = pd['parameter_defaults'].__setitem__('SELinuxMode', 'permissive') %}
{%   set _ = pd['parameter_defaults'].__setitem__('ContainerImagePrepareDebug', true) %}
{%   set _ = pd['parameter_defaults'].__setitem__('PythonInterpreter', ansible_python_interpreter) %}
{%   set _ = pd['parameter_defaults'].__setitem__('ContainerCli', 'podman') %}
{% endif %}
{# param options we expect to run no matter the installation type #}
{% if tripleo_dns_servers is defined %}
{%   set _ = pd['parameter_defaults'].__setitem__('DnsServers', tripleo_dns_servers) %}
{% else %}
{%   set _ = pd['parameter_defaults'].__setitem__(
     'DnsServers',
     [
       '208.67.222.222',
       '8.8.8.8'
     ]
   )
%}
{% endif %}
{% set _ = pd['parameter_defaults'].__setitem__('NtpServer', tripleo_ntp_servers) %}
{% set _ = pd['parameter_defaults'].__setitem__('NovaComputeLibvirtType', 'kvm') %}
{% set _ = pd['parameter_defaults'].__setitem__('ContainerHealthcheckDisabled', true) %}
---
{{ pd | to_nice_yaml }}
