#!/usr/bin/env bash

source /opt/rdo/bin/activate

export TRIPLEO_ROOT=/opt/tripleo

sudo chown -R $(whoami):$(whoami) /opt/tripleo

pushd /opt/tripleo
{% for patch in developer_patches %}
{%   if not (patch.install_in_venv | default(false) | bool) %}
    export PKG_NAME="{{ patch.url | basename }}"
    if [[ ! -f "/opt/tripleo/delorean/${PKG_NAME}.created" ]]; then
        sudo --preserve-env=PATH,TRIPLEO_ROOT /opt/tripleo-ci/scripts/tripleo.sh --delorean-build ${PKG_NAME}
        touch /opt/tripleo/delorean/${PKG_NAME}.created
        sudo find /opt/tripleo/delorean -name '*rpm' -exec mv {} /opt/tripleo/rpms/ \;
    fi
{%   endif %}
{% endfor %}
popd

RPMS=$(find /opt/tripleo/rpms/ -name '*.rpm' ! -name '*src.rpm')
if [[ ! -z "${RPMS}" ]]; then
    echo -e "Installing RPMS: ${RPMS}"
    sudo $(command -v dnf || command -v yum) -y install ${RPMS}
fi
