#!/usr/bin/env bash

export THT="/usr/share/openstack-tripleo-heat-templates"

tmux new-session -d -s standalone -n standalone || true
tmux new-window -n deploy -t 0 || true
tmux new-window -n glances -t 1 || true

# Start Monitoring
tmux select-window -t 1
tmux send-keys "/opt/rdo/bin/glances --disable-autodiscover --diskio-iops --diskio-show-ramfs --enable-irq" C-m

# Start deployment
tmux select-window -t 0
{# Package building #}
{% if (ansible_distribution | lower) != 'redhat' %}
{%   if False in (developer_patches | map(attribute='install_in_venv') | list) %}
tmux send-keys "/opt/tripleo/build-packages.sh" C-m
{%   endif %}
{%   if True in (developer_patches | map(attribute='install_in_venv') | list) %}
tmux send-keys "source /opt/tripleo-patches/bin/activate" C-m
{%   endif %}
{% endif %}
{# Create basic role list #}
{% set roles = [] %}
{# Create basic environment list #}
{% set environments = [
    '$THT/environments/enable-swap.yaml',
    '$THT/environments/low-memory-usage.yaml',
    '$THT/environments/disable-telemetry.yaml'
   ]
%}
{% if (rh_it_ca_stat is defined) and (rh_it_ca_stat.stat.exists | bool) %}
{%   set _ = environments.append('$THT/environments/ssl/inject-trust-anchor.yaml') %}
{% endif %}
{# Deployment #}
{% if inventory_hostname in groups['undercloud'] %}
{#   multi-node #}
tmux send-keys "openstack undercloud install" C-m
tmux send-keys "source ~/stackrc" C-m
tmux send-keys "openstack subnet set ctlplane-subnet --dns-nameserver {{ redhat_dns_servers[0] }}" C-m
{# {%   if (ansible_distribution | lower) == 'redhat' %}
# tmux send-keys "openstack tripleo container image prepare -e local_images.yaml --output-env-file {{ ansible_env.HOME }}/containers-prepare-parameters.yaml" C-m
{%   else %}
# tmux send-keys "openstack tripleo container image prepare default --local-push-destination --output-env-file {{ ansible_env.HOME }}/containers-prepare-parameters.yaml" C-m
{%     set _ = environments.append(ansible_env.HOME ~ '/containers-prepare-parameters.yaml') %}
{%   endif %} #}
{%   set _ = environments.append(ansible_env.HOME ~ '/parameters.yaml') %}
{#   pre-provisioned nodes #}
{%   if (tripleo_deploy_pre_provisioned is defined) and (tripleo_deploy_pre_provisioned | bool) %}
tmux send-keys "pushd $THT" C-m
tmux send-keys "$THT/tools/process-templates.py --roles-data $THT/roles_data.yaml -o /tmp/templates/" C-m
tmux send-keys "popd" C-m
{%     set distro_map = {'redhat': 'rhel', 'centos': 'centos'} %}
{%     set _ = environments.append('/tmp/templates/environments/deployed-server-bootstrap-environment-' ~ distro_map[(ansible_distribution | lower)] ~ '.yaml') %}
{# {%     set _ = environments.append('/tmp/templates/environments/deployed-server-pacemaker-environment.yaml') %} #}
{%     set _ = environments.append('/tmp/templates/environments/deployed-server-environment.yaml') %}
{%     set _ = environments.append('/tmp/templates/net-config-static-bridge.yaml') %}
{%     set _ = environments.append(ansible_env.HOME ~ '/pre-provisioned-parameters.yaml') %}
{%     set _ = roles.append('$THT/roles_data.yaml') %}
{%     if ((ansible_distribution | lower) == 'redhat') and (redhat_puddle_local_images_url is defined) %}
{%       set _ = environments.append(ansible_env.HOME ~ '/container_image_prepare.yaml') %}
{%     endif %}
{%   else %}
{#   ironic powered nodes #}
{%     set _ = roles.append('$THT/roles_data.yaml') %}
tmux send-keys "pushd ~/images" C-m
{%     if (ansible_distribution | lower) != 'redhat' %}
tmux send-keys "for i in overcloud-full.tar ironic-python-agent.tar; do tar xf /usr/share/rhosp-director-images/$i done" C-m
{%     endif %}
tmux send-keys "openstack overcloud image upload --update-existing" C-m
tmux send-keys "popd" C-m
tmux send-keys "openstack overcloud node import vm-instackenv.yaml" C-m
tmux send-keys "openstack overcloud node introspect --all-manageable \
                                                    --provide \
                                                    --concurrency {{ (ansible_processor_vcpus | int) * 2  }} \
                                                    || openstack overcloud node introspect --all-manageable \
                                                    --provide" C-m
{%   endif %}
tmux send-keys "sudo --preserve-env=PATH,VIRTUAL_ENV \
                openstack --os-cloud undercloud overcloud deploy \
                --templates $THT/ \
                -r {{ roles | join(' -r ') }} \
                -e {{ environments | join(' -e ') }} \
                --log-file {{ ansible_env.HOME }}/deploy.log \
                --output-dir {{ ansible_env.HOME }} \
                --disable-validations \
                --overcloud-ssh-user {{ ansible_env.USER }} \
                --overcloud-ssh-key {{ ansible_env.HOME }}/.ssh/id_rsa \
                --config-download-timeout 1024 \
                --timeout 1024" C-m
{% else %}
{#   Standalone #}
{%   set _ = environments.append('$THT/environments/standalone/standalone-tripleo.yaml') %}
{%   set _ = environments.append(ansible_env.HOME ~ '/standalone_parameters.yaml') %}
{%   set _ = roles.append('$THT/roles/Standalone.yaml') %}
tmux send-keys "sudo --preserve-env=PATH,VIRTUAL_ENV \
                openstack --os-cloud undercloud tripleo deploy  \
                --templates $THT \
                --local-ip={{ tripleo_job_address }}/{{ tripleo_cidr | ipaddr('prefix') }} \
                -r {{ roles | join(' -r ') }} \
                -e {{ environments | join(' -e ') }} {{ (tripleo_ceph_enabled | bool) | ternary(tripleo_ceph_standalone_templates, '') }} \
                --log-file {{ ansible_env.HOME }}/deploy.log \
                --output-dir {{ ansible_env.HOME }} \
                --standalone" C-m
{% endif %}

echo -e "Stack creation has been initiated."
