---
{% set pd = {'parameter_defaults': {}} %}
{% set _ = pd['parameter_defaults'].__setitem__('CloudName', tripleo_job_address) %}
{% set _ = pd['parameter_defaults'].__setitem__('ControlPlaneStaticRoutes', []) %}
{% set _ = pd['parameter_defaults'].__setitem__('Debug', true) %}
{% set _ = pd['parameter_defaults'].__setitem__('DeploymentUser', 'stack') %}
{% set _ = pd['parameter_defaults'].__setitem__(
     'DnsServers',
     [
       '208.67.222.222',
       '8.8.8.8'
     ]
   )
%}
{% set _ = pd['parameter_defaults'].__setitem__(
     'DockerInsecureRegistryAddress',
     [
       (tripleo_job_address | string) ~ ':8787'
     ]
   )
%}
{% set _ = pd['parameter_defaults'].__setitem__('NeutronPublicInterface', 'eth1') %}
{% set _ = pd['parameter_defaults'].__setitem__('NeutronDnsDomain', 'localdomain') %}
{% set _ = pd['parameter_defaults'].__setitem__('NeutronBridgeMappings', 'datacentre:br-ctlplane') %}
{% set _ = pd['parameter_defaults'].__setitem__('NeutronPhysicalBridge', 'br-ctlplane') %}
{% set _ = pd['parameter_defaults'].__setitem__('StandaloneEnableRoutedNetworks', ansible_env.HOME) %}
{% set _ = pd['parameter_defaults'].__setitem__('StandaloneLocalMtu', 1500) %}
{% set _ = pd['parameter_defaults'].__setitem__('NovaComputeLibvirtType', 'kvm') %}
{% set _ = pd['parameter_defaults'].__setitem__('SELinuxMode', 'permissive') %}
{% set _ = pd['parameter_defaults'].__setitem__('ContainerImagePrepareDebug', true) %}
{% set _ = pd['parameter_defaults'].__setitem__('ContainerCli', 'podman') %}
{% set _ = pd['parameter_defaults'].__setitem__('PythonInterpreter', ansible_python_interpreter) %}
{% set _ = pd['parameter_defaults'].__setitem__('NtpServer', (tripleo_ntp_servers | to_yaml)) %}
---
{{ pd | to_nice_yaml }}
