{% set pd = {'parameter_defaults': {}} %}
{% set _ = pd['parameter_defaults'].__setitem__(
     'resource_registry',
     {
       'OS::TripleO::Undercloud::Net::SoftwareConfig': '/tmp/templates/vm_interface_template.yaml'
     }
   )
%}
---
{{ pd | to_nice_yaml }}
