{% set pd = {'parameter_defaults': {}} %}
{% set _ = pd['parameter_defaults'].__setitem__(
     'resource_registry',
     {
       'OS::TripleO::Undercloud::Net::SoftwareConfig': '/usr/share/openstack-tripleo-heat-templates/ci/common/net-config-simple-bridge.yaml'
     }
   )
%}
---
{{ pd | to_nice_yaml }}
