---

parameter_defaults:
  CephAnsibleDisksConfig:
    osd_scenario: lvm
    osd_objectstore: bluestore
    lvm_volumes:
      - data: data-lv2
        data_vg: vg2
        db: db-lv2
        db_vg: vg2
        wal: wal-lv2
        wal_vg: vg2
  LocalCephAnsibleFetchDirectoryBackup: /root/ceph_ansible_fetch
  CephAnsibleExtraConfig:
    cluster_network: {{ tripleo_cidr }}
    public_network: {{ tripleo_cidr }}
  CephPoolDefaultPgNum: 32
  CephPoolDefaultSize: 1
