#cloud-config
# Customize as per your need. At least change username (vivek) and ssh-ed22519
# key with your actual public key
password: Password1
chpasswd: { expire: False }

# Hostname management
preserve_hostname: False
hostname: {{ inventory_hostname }}
fqdn: {{ inventory_hostname }}.local

# Setup Users with ssh keys so that I can log in into new machine
users:
  - default
  - name: vm-user
    groups: []
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_pwauth: True
    ssh-authorized-keys:
      - "{{ lookup('file', vm_pub_key) }}"

# Configure where output will go
output:
  all: ">> /var/log/cloud-init.log"

# configure interaction with ssh server
ssh_svcname: ssh
ssh_deletekeys: True
ssh_genkeytypes: ['rsa', 'ecdsa']
ssh_pwauth: True

# Install your public ssh key to the first user-defined user configured
{% set keys = [lookup('file', vm_pub_key)] %}
{% if vm_keys_links is defined %}
{%   for item in vm_keys_links %}
{%     set _ = keys.append(lookup('url', item, split_lines=False)) %}
{%   endfor %}
{% endif %}
{% if vm_keys_files is defined %}
{%   for item in vm_keys_files %}
{%     set _ = keys.append(lookup('file', item)) %}
{%   endfor %}
{% endif %}
ssh_authorized_keys: {{ keys }}

# set timezone for VM
timezone: UTC

packages: {{ vm_packages }}

{% set cmd_list = ["systemctl enable network", "systemctl restart network", "systemctl enable sshd", "systemctl restart sshd"] %}
{% if not (vm_uplink_floats is defined) or not ('address' in vm_uplink_floats) %}
{%   set _ = cmd_list.append('dhclient') %}
{% else %}
{%   set _ = cmd_list.append('systemctl enable NetworkManager') %}
{%   set _ = cmd_list.append('systemctl start NetworkManager') %}
{%   set _ = cmd_list.append('nmcli con add type ethernet con-name static ifname eth0 ip4 ' ~ vm_uplink_floats.address ~ '/' ~ vm_uplink_floats.netmask ~ ' gw4 ' ~ vm_uplink_floats.gateway) %}
{%   set _ = cmd_list.append('nmcli con mod static ipv4.dns "8.8.8.8 8.8.4.4"') %}
{%   set _ = cmd_list.append('nmcli con down static') %}
{%   set _ = cmd_list.append('nmcli con up static') %}
{% endif %}
{% set _ = cmd_list.append('systemctl enable qemu-guest-agent') %}
{% set _ = cmd_list.append('systemctl restart qemu-guest-agent') %}
runcmd: {{ cmd_list }}
