domain-needed
bogus-priv
server=/{{ dnsmasq_domain }}/{{ dnsmasq_server_address }}
local=/{{ dnsmasq_domain }}/
interface={{ dnsmasq_interface }}
expand-hosts
domain={{ dnsmasq_domain }}
dhcp-range=set:tripleo,{{ dnsmasq_dhcp_range.start }},{{ dnsmasq_dhcp_range.stop }},{{ dnsmasq_dhcp_range.netmask }},24h
dhcp-host={{ dnsmasq_allowed_mac_prefix }},set:tripleo
dhcp-option=option:router,{{ dnsmasq_server_address }}
conf-dir=/etc/dnsmasq.d,.rpmnew,.rpmsave,.rpmorig
